
<div class="container">
  
    <app-modal [titleButton]="'Cadastrar'" [action]="actionSave"
     (eventModel)="updateGrid($event)" [typeButton]="'btn btn-primary btn-lg btn-block'">
    </app-modal>
    <br>
  <app-grid [data]="notices" [gridOptions]="gridOptions"></app-grid>
</div>

<ng-template #buttonView let-row>
  <div class="text-center">
      <app-modal [titleButton]="'Visualizar'" (eventModel)="updateGrid($event)" [typeButton]="'btn btn-success'" [notice]="row"></app-modal>
      <app-modal [titleButton]="'Editar'" (eventModel)="updateGrid($event)" [action]="actionSave" [typeButton]="'btn btn-warning'" [notice]="row"></app-modal>
      <button type="button" style="margin-right: 2%" (click)="deleteNotice(row)" class="btn btn-danger">Excluir</button>
  </div>
</ng-template>

